/* Animation */
@keyframes flip {
  0% {
    transform: perspective(400px) rotateY(90deg);
    opacity: 0;
  }
  40% {
    transform: perspective(400px) rotateY(-20deg);
  }
  60% {
    transform: perspective(400px) rotateY(10deg);
    opacity: 1;
  }
  80% {
    transform: perspective(400px) rotateY(5deg);
  }
  100% {
    transform: perspective(400px);
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes moveToLeftAndFadeIn {
  0% {
    transform: translateX(30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes moveToRightAndFadeIn {
  0% {
    transform: translateX(-30px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes moveToRightAndFadeInLong {
  0% {
    transform: translateX(-60px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
/* Reset */
body,
h1, h2, h3, h4,
ul, ol, li {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  overflow: hidden;
  width: 100vw;
  height: 100vh;
  font-family: 'Inconsolata', sans-serif;
  line-height: 1;
}
/* Style */
.wrap {
  transform: translate3d(0, 0, 0);
  transition: transform .4s;
}
.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  color: #fff;
}
.header .canvas-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: url(../img/space.png) no-repeat 50% 50%/cover;
}
.header .h1 {
  position: relative;
  z-index: 1;
  font-size: 50px;
  letter-spacing: 1px;
  text-shadow: 2px -2px 1px #bbb;
}
.header a {
  display: inline-block;
  position: relative;
  z-index: 1;
  margin-top: 16px;
  padding: 5px 12px 5px 12px;
  border-radius: 2px;
  border: 1px solid;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
}
.header a:after {
  display: inline-block;
  vertical-align: top;
  width: 18px;
  height: 24px;
  margin-left: 8px;
  background: url(../img/icon-arrow-right-white.svg) no-repeat 50% 50%/100% 100%;
  transform: rotate(0);
  transition: 0.5s transform;
  content: '';
}
.header a:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #222;
}
.header a:hover:after {
  transform: rotate(90deg);
}
.container {
  overflow: hidden auto;
  box-sizing: border-box;
  height: 100vh;
  padding: 50px;
}
.container .h2 {
  position: relative;
  margin-bottom: 120px;
  text-align: center;
}
.container .h2 .text {
  display: inline-block;
  font-size: 40px;
  vertical-align: top;
}
.container .h2:after {
  position: absolute;
  bottom: -16px;
  left: 50%;
  width: 320px;
  height: 3px;
  margin-left: -160px;
  background-color: #000;
  content: '';
}
.content .section {
  width: 540px;
  margin: 50px auto 0;
}
.content .section:after {
  display: block;
  clear: both;
  content: '';
}
.content .h3 {
  float: left;
  width: 140px;
  margin-right: 14px;
  text-align: center;
}
.content .h3 .badge {
  display: block;
  position: relative;
}
.content .h3 .badge .icon {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.content .h3 .hexagon {
  display: block;
  position: relative;
  width: 58px;
  height: 100px;
  margin: 0 auto;
  background-color: #04c2c9;
}
.content .h3 .hexagon:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: inherit;
  transform: rotateZ(60deg);
  content: '';
}
.content .h3 .hexagon:after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: inherit;
  transform: rotateZ(-60deg);
  content: '';
}
.content .h3 .title {
  display: block;
  margin-top: 16px;
  font-size: 28px;
  color: #555;
}
.content .list {
  overflow: hidden;
}
.content .list .link {
  display: block;
  height: 20px;
  padding: 6px 0;
  font-size: 20px;
  line-height: 20px;
  color: #555;
}
.content .list .link::before {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 5px 9px 0 0;
  background-color: #555;
  vertical-align: top;
  transition: border-radius .5s, background-color .5s;
  content: '';
}
.content .list .link:hover::before {
  border-radius: 50%;
  background-color: #04c2c9;
}
.content .section:nth-child(1) .h3 .badge .icon {
  width: 50px;
  height: 50px;
  background: url(../img/icon-disk-white.svg) no-repeat 50% 50%/100% 100%;
}
.content .section:nth-child(2) .h3 .badge .icon {
  width: 50px;
  height: 50px;
  background: url(../img/icon-head-white.svg) no-repeat 50% 50%/100% 100%;
}
.content .section:nth-child(1) .h3 .badge {
  animation-delay: .4s;
}
.content .section:nth-child(1) .h3 .title,
.content .section:nth-child(1) .list {
  animation-delay: 1s;
}
.content .section:nth-child(2) .h3 .badge {
  animation-delay: .6s;
}
.content .section:nth-child(2) .h3 .title,
.content .section:nth-child(2) .list {
  animation-delay: 1.2s;
}
.wrap.is-container-view {
  transform: translate3d(0, -100vh, 0);
}
.wrap.is-container-view .container .h2 .text {
  animation-name: moveToRightAndFadeIn;
  animation-duration: .5s;
  animation-delay: .4s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}
.wrap.is-container-view .content .h3 .badge {
  animation-name: flip;
  animation-duration: .75s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}
.wrap.is-container-view .content .h3 .title {
  animation-name: fadeIn;
  animation-duration: .5s;
  animation-timing-function: ease-in;
  animation-fill-mode: both;
}
.wrap.is-container-view .content .list {
  animation-name: moveToLeftAndFadeIn;
  animation-duration: .5s;
  animation-timing-function: ease-in-out;
  animation-fill-mode: both;
}
